extends layout

block content
	h1 Big App

	form#new-music
		input(type="text" name="title" placeholder="title")
		input(type="text" name="artist" placeholder="artist")
		input(type="submit")

	h2 Music List
	ul#music-list

	#edit-modal.modal.fade
		form#edit-form.form
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Edit Theme
					.modal-body
						
							.form-group
								input.form-control(type="text" name="title" placeholder="title")
							.form-group
								input.form-control(type="text" name="artist" placeholder="artist")
								
					.modal-footer
						button.btn.btn-default(data-dismiss="modal") Close
						input.btn.btn-primary(type="submit")



							